html, body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;

}

#page{
  width: 100vw;
  height: 100vh;
  background-image: url('../scratch.png');
  z-index: 2;
}

#darkBlue{
  width: 6.66%;
  height: 100%;
  background-color: midnightblue;
  float: left;
}

#red{
  width: 6.66%;
  height: 100%;
  background-color: red;
  float: left;
}

#grey{
  width: 6.66%;
  height: 100%;
  background-color: grey;
  float: left;
}

#yellow{
  width: 6.66%;
  height: 100%;
  background-color: yellow;
  float: left;
}

#green{
  width: 6.66%;
  height: 100%;
  background-color: green;
  float: left;
}

#white{
  width: 6.66%;
  height: 100%;
  background-color: white;
  float: left;
}

#darkRed{
  width: 6.66%;
  height: 100%;
  background-color: darkred;
  float: left;
}

#messageHolder{
  width: 30%;
  height: 30%;
  background-color: aliceblue;
  position: absolute;
  z-index: 10;
  border-radius: 30px;
}

#textHolder{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* -webkit-filter: blur(0px); */
}
